@use '@angular/material' as mat;

@include mat.core();

$appgestion-primary: mat.define-palette(mat.$indigo-palette);
$appgestion-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$appgestion-warn: mat.define-palette(mat.$red-palette);

$appgestion-theme: mat.define-light-theme((
  color: (
    primary: $appgestion-primary,
    accent: $appgestion-accent,
    warn: $appgestion-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($appgestion-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
}
