<button
  mat-stroked-button
  type="button"
  class="lang-switcher__trigger"
  [class.lang-switcher__trigger--settings]="layout() === 'settings'"
  [matMenuTriggerFor]="langMenu"
  aria-haspopup="menu"
  [attr.aria-label]="'lang.switcherAria' | translate"
>
  <span class="lang-switcher__trigger-left">
    <span [class]="flagClasses(triggerDisplay().code)"></span>
    <span class="lang-switcher__short">{{ triggerDisplay().short }}</span>
  </span>
  <mat-icon class="lang-switcher__caret">arrow_drop_down</mat-icon>
</button>

<mat-menu
  #langMenu="matMenu"
  class="lang-switcher-menu"
  [class.lang-switcher-menu--wide]="layout() === 'settings'"
>
  @for (code of supported; track code) {
    <button mat-menu-item type="button" class="lang-switcher__item" (click)="selectLang(code)">
      <span [class]="flagClasses(code)"></span>
      <span class="lang-switcher__item-native">{{ menuLabel(code).native }}</span>
      <span class="lang-switcher__item-short">{{ menuLabel(code).short }}</span>
    </button>
  }
</mat-menu>
